.tabla{
    padding: 2em;
}

h1 {
    text-align: center;             /* Centrar el texto */
    font-size: 3em;                /* Aumentar el tamaño de la fuente */
    font-weight: bold;             /* Hacer la fuente más gruesa */
    color: #333;                   /* Cambiar el color del texto */
    margin: 20px 0;                /* Espaciado superior e inferior */
    text-transform: uppercase;      /* Convertir el texto a mayúsculas (opcional) */
    letter-spacing: 2px;           /* Aumentar el espaciado entre letras (opcional) */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil (opcional) */
    font-family: 'Arial', sans-serif; /* Cambiar la fuente (opcional) */
}


table {
    border-collapse: collapse; /* Esto asegura que los bordes de las celdas y la tabla no se dupliquen */
    width: 100%;
    padding: 2em;
}
  
th, td { /*th = table header, td = table data*/
    border: 20px; /* Borde para las celdas */
    padding: 8px; /* Espacio interno en las celdas */
    text-align: left; /* Alineación del texto */
    border-left-color: black;
    border-right-color: black;
    border-color: black;
}
  
/* Para darle color a los títulos de las columnas */
th {
    background-color: rgb(248, 161, 161); /* Color de fondo verde para los encabezados */
    color: rgb(0, 0, 0); /* Color del texto negro */
}

.esqizq{
    border-top-left-radius: 20px;
}
.esqder{
    border-top-right-radius: 20px;
}
.container {
    position: relative; /* Hace que el contenedor sea el referente para el posicionamiento absoluto */
    height: 100vh; /* Ajusta la altura de la página */
}
.camposEdit {
    background-color: #f0f8ff; /* Color claro para resaltar */
    border: 1px solid #007acc; /* Borde azul para resaltar */
    outline: none; /* Quitar el contorno */
    padding: 4px; /* Añadir un poco de espacio interno */
}

.drawer {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* Cambia el color según lo que necesites */
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.drawer button {
    margin: 5px 0; /* Espaciado entre botones */
    padding: 10px; /* Padding para hacerlos más clicables */
    background-color: #0070f3; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

.drawer button:hover {
    background-color: #005bb5; /* Cambio de color al pasar el mouse */
}
.edit-button {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .edit-button:hover {
    background-color: #3182ce; /* Color de fondo para el hover */
    color: white; /* Cambia el color del icono en hover */
  }
  

  