@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tabla {
  padding: 1.5em;
}

/* Definimos colores */

:root {
  --nav: #adcfce;
}

html {

  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #34364d; /*#2a2b3f*/
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: #fcfffd;
  overflow: hidden;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html, body {
  height: 100%;
  overflow-y: scroll; /* Permite el scroll */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

h1 {
  
  text-align: center; /* Centrar el texto */
  font-size: 3em; /* Aumentar el tamaño de la fuente */
  font-weight: bold; /* Hacer la fuente más gruesa */
  color: #333; /* Cambiar el color del texto */
  margin: 20px 0; /* Espaciado superior e inferior */
  text-transform: uppercase; /* Convertir el texto a mayúsculas (opcional) */
  letter-spacing: 2px; /* Aumentar el espaciado entre letras (opcional) */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil (opcional) */
  font-family: 'Kanit', sans-serif; /* Cambiar la fuente (opcional) */
}

th {
  font-family: 'Kanit', sans-serif;
  background-color: rgb(
    248,
    161,
    161
  ); /* Color de fondo verde para los encabezados */
  color: rgb(0, 0, 0); /* Color del texto negro */
}
tr{
  
  font-family: 'Kanit', sans-serif;
}
.esqizq {
  border-top-left-radius: 20px;
  background-color: transparent;
  border-bottom: transparent !important;
}
.esqder {
  font-family: 'Kanit', sans-serif;
  border-top-right-radius: 20px;
}
.segcolumna {
  font-family: 'Kanit', sans-serif;
  border-top-left-radius: 20px;
}
.columnalapiz {
  border-color: transparent;
  padding: 0.3em 0.3em !important;
  border-bottom: transparent !important;
}
.container {
  font-family: 'Kanit', sans-serif;
  position: relative; /* Hace que el contenedor sea el referente para el posicionamiento absoluto */
  height: 100vh; /* Ajusta la altura de la página */
}
.camposEdit {
  font-family: 'Kanit', sans-serif;
  background-color: #f0f8ff; /* Color claro para resaltar */
  border: 1px solid #007acc; /* Borde azul para resaltar */
  outline: none; /* Quitar el contorno */
  padding: 4px; /* Añadir un poco de espacio interno */
  border-radius: 10px;
  box-sizing: border-box; /* Asegura que padding no aumente el tamaño */
  width: 100px; /* Ajusta el ancho fijo según tus necesidades */
  max-width: 100%; /* Limita el ancho máximo para que no se desborde */
}
